$mdc-theme-primary: #00205b;
$mdc-theme-secondary: #e87722;
@import '@material/theme/mdc-theme';

.source-table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

#works {
    width: 100%;
}

#works td {
    max-width: 30vw;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.active-sort-asc:after {
    content: '\25b2';
    padding-left: '2pt';
}

.active-sort-desc:after {
    content: '\25bc';
    padding-left: '2pt';
}

.citation-column {
    width: 40%;
    text-align:left;
}

#title {
    font-family: Times New Roman;
    font-variant: small-caps;
}

.mdc-fab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

[data-ember-action]:not(:disabled) {
      cursor: pointer;
}

.wraptext {
  white-space: normal;
}
