$color-primary: "0,32,91";
$color-accent: "232,119,34";
@import 'material-design-lite';
@import 'ember-power-select';

.source-table {
    table-layout: fixed;
    width: 100%;
}

#works {
    width: 100%;
}

#works td {
    max-width: 30vw;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.citation-column {
    width: 40%;
}

.breadcrumb {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.breadcrumb li {
    float: left;
    padding-left: 2pt;
    position: relative;
    display: block;
}
.breadcrumb li:first-child {
    padding-left: 0;
}
.breadcrumb li a {
    text-decoration: none;
}
.breadcrumb li a:after {
    content: "\27a4";
    padding-left: 2pt;
}
