$color-primary: "0,32,91";
$color-accent: "232,119,34";
@import 'material-design-lite';
@import 'ember-power-select';

.source-table {
    table-layout: fixed;
    width: 100%;
}

#works {
    width: 100%;
}

#works td {
    max-width: 30vw;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.active-sort-asc:after {
    content: '\25b2';
    padding-left: '2pt';
}

.active-sort-desc:after {
    content: '\25bc';
    padding-left: '2pt';
}

.citation-column {
    width: 40%;
}

#title {
    font-family: Times New Roman;
    font-variant: small-caps;
}

.mdl-button--fab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

[data-ember-action]:not(:disabled) {
      cursor: pointer;
}

.breadcrumb a:after {
    content: "\27a4";
    padding-left: 2pt;
}
