<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            <h2 id="title">University of Illinois Law Review</h2>
        </div>
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">E-Bookpull System</span>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">E-Bookpull System</span>
            <nav class="mdl-navigation">
        {{#link-to "index" class="mdl-navigation__link"}}Home{{/link-to}}
        </nav>
    </div>
    <main class="mdl-layout__content">
    {{outlet}}
    </main>
</div>
