<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            <h2 id="title">University of Illinois Law Review</h2>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            <h3 id="subtitle">E-Bookpull System</h3>
        </div>
    </header>
    <main class="mdl-layout__content">
    {{outlet}}
    </main>
</div>
