<div class="mdl-grid">
<div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset mdl-cell--stretch mdl-cell--middle">
<!-- MDL Spinner Component with Single Color -->
<span class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></span>
</div>
</div>
