<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /members/bookpull/api/
RewriteRule . api.php [L]
</IfModule>

Header set Access-Control-Allow-Methods "DELETE,GET,OPTIONS,PATCH,POST"
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "Authorization,Content-Type"
